# Streamlit app framework
streamlit==1.28.0

# Numerical computations
numpy==1.26.2

# Data manipulation
pandas==2.1.1

# Plotting
matplotlib==3.8.0

# Image handling (logo)
Pillow==10.1.0

# Geospatial map
folium
streamlit-folium
